body {
    font-family: 'Arial', sans-serif;
    background: #0be300;
    background: -webkit-linear-gradient(127deg, #0be300 0%, #ffffff 100%);
    background: linear-gradient(127deg, #0be300 0%, #ffffff 100%);
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
}

section {
    padding: 20px;
}

ul#siteList {
    list-style: none;
    padding: 0;
}

ul#siteList li {
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
}

ul#siteList li:before {
    content: '•'; /* Utilisez un point ou une image comme puce */
    position: absolute;
    left: 0;
    color: #4CAF50; /* Couleur de la puce */
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h7 {
    font-size: 0.5em; /* Ajustez la taille de la police selon vos besoins */
    color: #333; /* Couleur du texte */
}

h8 {
    font-size: 0.05em;
}

h9 {
    font-size: 0.001em;
}

h10 {
    font-size: 0.0007em;
}
