body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h7 {
    font-size: 0.5em; /* Ajustez la taille de la police selon vos besoins */
    color: #333; /* Couleur du texte */
    /* Ajoutez d'autres styles selon vos préférences */
}

h8 {
    font-size: 0.05em;
}

h9 {
    font-size: 0.001em;
}

h10 {
    font-size: 0.0007em;
}