        body {
            font-family: 'Arial', sans-serif;
            background-color: #4e8646;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #270041;
            padding: 10px;
            text-align: center;
            color: white;
            font-size: 24px;
        }

        section {
            padding: 20px;
            text-align: center;
        }

